# play / sbt related
logs
target
/RUNNING_PID
CONTID
coverage
dist
etc

# IDEs
/.idea
/.idea_modules
/.classpath
/.project
/.settings
.history
out.html
skg-online.iml

# reactive platform related
akka-diagnostics

#javascript related
node_modules
/typings
npm-debug.log

# OS X related
.DS_Store

